<form class="sign-up">
    <h3 class="sign-up__header">
        Create your account
    </h3>
    {{input type="text" placeholder="First Name" class="sign-up__input" value=firstName }}

    {{input type="text" placeholder="Last Name" class="sign-up__input" value=lastName }}

    {{input type="text" placeholder="Display Name" class="sign-up__input" value=displayName }}

    {{input type="email" placeholder="E-mail Address" class="sign-up__input" value=email }}

    {{input type="password" placeholder="Password" class="sign-up__input" value=password }}

    {{input type="password" placeholder="Repeat Password" class="sign-up__input" value=repeatedPassword }}

    <button {{ action 'createUser'}} class="sign-up__btn" type="submit">Sign Up</button>
</form>