<div class="tasks">
    {{ outlet }}
    {{#each model as |task|}}
    <div class="task">
        <h4 class="task__header">{{ task.title }}</h4>
        <p class="task__due-date"> Due: {{format-date task.date }} </p>
        <p class="task__textarea">{{ task.description }}</p>
        <div class="task__actions">
            <button {{action 'deleteTask' task.id}} class="task__btn task__btn--delete">Delete</button>
            <button {{action 'editTask' task.id}} class="task__btn task__btn--edit">{{#link-to 'tasks.edit' task.id}}Delete{{/link-to}}</button>
        </div>
    </div>
    {{/each}}
</div>